*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* width: 100%; */
}
header{
    position: fixed;
    width: 100%;
    background-color: white;
}

header img{
    
    position: absolute;
    max-width: 350px;
    top: 0px;
    margin-left: 30px;
}
header ul{
    display: flex;
    justify-content: right;
    padding:30px 80px 30px 30px;
    gap: 60px;
    list-style: none;
       
}
 
header ul li a{
text-decoration: none;
color:#c92279;
}


.Inicio{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-image: url("/img/fundo_1.webp");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    
}

.ImgSobre{
    width: 100%;
    display: flex;
    justify-content: center;
}
section h1{
    
    color: black;
font-size: 60px;
}
section p{
    margin-top: 20px;
    font-size: 35px;
}

.container { 
    width: 100%;
    height: 700px;
    margin: 20px;
    justify-content: space-around; 
    display: flex;
    align-items: center;
    padding-top: 80px;
 
}

.area-text{
    /* max-width: 40%;*/
    width: 100%; 
    display: flex;
    justify-content: center;
}
.text h2{
    color:#c92279;

}

.area-paragrafo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.paragrafo-direita{
    width: 80%;
    min-width: 50%;
    text-align: justify;
    font-size: 28px;
}

.imagem7{
    /* scale: 1.8; */
    width: 70%;
}

.ph{

    text-align: center;
    margin:0;
}

.container2{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    justify-content: space-around; 
padding-top: 80px;   
 margin-bottom: 90px;
}
.titulo{
    text-align: center;
}
.CARDS{
    display: flex;
    justify-content:center;
    gap: 100px;
}

.imagemp, .imagempo, .imagema{
    width: 200px;
    height: 200px;
    margin: 10px 15px;
    border-radius: 5%;
}


.card ,.card1,.card2{
    display: table-column;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    max-width: 250px;
    max-height: 450px;
    align-items: center;
    margin-top: 50px;
    
     
}
.card:hover,.card1:hover,.card2:hover{
   /* background: purple; */
padding: 10px;
box-shadow: 4px 4px 4px 4px  lightslategray;
transform: scale(1.1);
}
.titulo h1{
    color:black;
}
.titulo h2

{
    color:#7D0047;
}

.card p ,.card1 p, .card2 p{
margin: 0;
font-size: 20px;
text-align: center;
}

.valores{
    margin-top: 50px;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-image: url("/img/table_1.webp");
    background-size: cover;
    background-position: center;
}
.CONTATO {
    display: flex;
    width: 100vw;
    height: 600px;
}
.info h1{
    color: #7D0047;
    font-size: 50PX;
}
.info {
    padding-top: 50px;
    justify-content: end;
    
    margin: 100px 30px 100px 200px;
    max-width: 400px;
    
}
.imagemctt{
  padding-top: 50px;
  justify-content: start;
  margin-left: 100px;
 }
.icon{
    display: flex;
justify-content: center;
padding-top: 50px;
}
.fa-whatsapp {
    color: green;
 font-size: 48px;
padding-right: 30px;
}
.fa-instagram{
    color: #7D0047;
    font-size: 48px;
}
.fa-facebook{
    color: blue;
    font-size: 48px;
    padding-left: 30px;

}
@media screen and(max-width:768px) {
    section{
        width: 100%;
        padding: 0;
    }
    .container{
        flex-direction: column;
        
    }
    
}
@media screen and(max-width:600px) {
header li{
float : none;
text-align: center;
width: 100%;
}

}