*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    /* width: 100%; */
}
header{
    position: fixed;
    width: 100%;
    background-color: white;
}

header img{
    
    position: absolute;
    max-width: 350px;
    top: 0px;
    margin-left: 30px;
}
header ul{
    display: flex;
    justify-content: right;
    padding:30px 80px 30px 30px;
    gap: 60px;
    list-style: none;
       
}
 
header ul li a{
text-decoration: none;
color:#c92279;
}
.corpo{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.Inicio{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-image: url("img/fundo.png");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    
    
}

.ImgSobre{
    width: 100%;
    display: flex;
    justify-content: center;
}
section h1{
    
    color: black;
font-size: 60px;
}
section p{
    margin-top: 20px;
    font-size: 35px;
}

.container { 
    width: 100%;
    height: 700px;
    margin: 20px;
    justify-content: space-around; 
    display: flex;
    align-items: center;
    padding-top: 80px;

 
}

.area-text{
    /* max-width: 40%;*/
    width: 100%; 
    display: flex;
    justify-content: center;
}
.text h2{
    color:#c92279;

}

.area-paragrafo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.paragrafo-direita{
    width: 80%;
    min-width: 50%;
    text-align: justify;
    font-size: 28px;
}

.imagem7{
    /* scale: 1.8; */
    width: 70%;
}

.ph{

    text-align: center;
    margin:0;
}

.container2{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    justify-content: space-around; 
    padding-top: 80px;   
    margin-bottom: 90px;
    
}
.titulo{
    text-align: center;
}
.CARDS{
    display: flex;
    justify-content:center;
    gap: 100px;
}

.imagemp, .imagempo, .imagema{
    width: 200px;
    height: 200px;
    margin: 10px 15px;
    border-radius: 5%;
}


.card ,.card1,.card2{
    display: table-column;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    max-width: 250px;
    max-height: 450px;
    align-items: center;
    margin-top: 50px;
    
     
}
.card:hover,.card1:hover,.card2:hover{
   /* background: purple; */
padding: 10px;
box-shadow: 4px 4px 4px 4px  lightslategray;
transform: scale(1.1);
transition: 400ms;
}
.titulo h1{
    color:black;
}
.titulo h2

{
    color:#7D0047;
}

.card p ,.card1 p, .card2 p{
margin: 0;
font-size: 20px;
text-align: center;
}
footer{

    display: flex;
    gap: 15px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h1{
    color: #7D0047;
    font-size: 50PX;
}


.icon{
    display: flex;
justify-content: center;
padding-top: 50px;
}
.fa-whatsapp {
    color: green;
 font-size: 48px;
padding-right: 30px;
}
.fa-instagram{
    color: #7D0047;
    font-size: 48px;
}
.fa-facebook{
    color: blue;
    font-size: 48px;
    padding-left: 30px;

}

@media screen and (max-width: 767px) {
    header{
        display: flex;
        position: fixed;
        justify-content: space-around;
        width: 100%;
        background-color: white;

    }
    .corpo{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .logo{
        width: 60%;
        padding-bottom: 75px;
        overflow: hidden; 
        position: relative;
        
    }
    .logo img{
        position: absolute; /* para posicionar a imagem corretamente */
        width: 80%; /* para preencher horizontalmente */
        height: 100%; /* para preencher verticalmente */
        object-fit: cover; /* para preencher completamente o espaço disponível */
        
    }
    header ul{
        display: flex;
        gap: 8px;
        list-style: none;
           
    }
     
    header ul li a{
    text-decoration: none;
    color:#c92279;
    font-size: 12px;
    }
    
    
    .Inicio{
        display: flex;
        height: 100vh;
        width: 100%;
        align-items: center;
        background-image: url("img/fundo.png");
        background-size: cover;
        background-position: center;
        padding-top: 50px;
        
    }
    
    .ImgSobre{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    section h1{
        
        color: black;
    font-size: 40px;
    }
    section p{
        margin-top: 20px;
        font-size: 25px;
    }
    
    .container { 
        width: 100%;
        height: 700px;
        margin: 20px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 80px;
    
     
    }
    
    .area-text{
        /* max-width: 40%;*/
        width: 100%; 
        display: flex;
        justify-content: center;
    }
    .text h2{
        color:#c92279;
    
    }
    
    .area-paragrafo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .paragrafo-direita{
        width: 80%;
  

        text-align: justify;
        font-size: 15px;
    }
    
    .imagem7{
        /* scale: 1.8; */
        width: 70%;
    }
    
    .ph{
    
        text-align: center;
        margin:0;
    }
    
    .container2{
        width: 100%;
        margin: auto;
        height: 950px;
        justify-content: space-around; 
        padding-top: 8px;   

        
    }
    .titulo{
        text-align: center;
    }
    .CARDS{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        gap: 10px;

    }
    
    .imagemp, .imagempo, .imagema{
        width: 150px;
        height: 100px;
        margin: 10px 15px;
        border-radius: 5%;
    }
    
    
    .card ,.card1,.card2{
        display: table-column;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        max-width: 300px;
        max-height: 300px;
        align-items: center;
        margin-top: 50px;
  
         
    }
    .card:hover,.card1:hover,.card2:hover{
       /* background: purple; */
    padding: 10px;
    box-shadow: 4px 4px 4px 4px  lightslategray;
    transform: scale(1.1);
    transition: 400ms;
    }
    .titulo h1{
        color:black;
    }
    .titulo h2
    
    {
        color:#7D0047;
    }
    
    .card p ,.card1 p, .card2 p{
    margin: 0;
    font-size: 20px;
    text-align: center;
    }
    footer{
        width: 100%;
        margin: auto;
        bottom: 0;
        height: 150px;

       
    }
    .imagemctt{
        width: 80%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
       
    }
    .imagemctt img{
        width: 120px;
        height: 120px;
        
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    
    .info h1{
        text-align: center;
        color: #7D0047;
        font-size: 18PX;
    }
        
    .icon{
        display: flex;
        justify-content: center;


    }
    .fa-whatsapp {
        color: green;
        font-size: 48px;
        padding-right: 30px;
    }
    .fa-instagram{
        color: #7D0047;
        font-size: 48px;
    }
    .fa-facebook{
        color: blue;
        font-size: 48px;
        padding-left: 30px;
    
    }
}